@import url(../src/assets/fonts/fonts.css);
@import url(../src/assets/normalize/normalize.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html .body {
  scroll-behavior: smooth;
}
